@font-face {
    font-family: 'Iosevka Etoile';
    src: url('res/IosevkaEtoile-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Etoile';
    src: url('res/IosevkaEtoile-Italic.woff2') format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka Etoile';
    src: url('res/IosevkaEtoile-Bold.woff2') format('woff2');
    font-weight: bold;
}


:root {
    --white: #f9f9f9;
    --black: #161616;

    /* palette */

    --gold: #FFE5A1;
    --blue: #ABCAFF;
    --pink: #FFA1B7;
    --forest: #639A94;
    --purple: #AC90BE;

    font-size: 14px;
}

/* set most layout & font options to manual */

* {
    font-family: 'Iosevka Etoile', Tahoma, sans-serif;
    font-style: normal;
    color: var(--black);

    margin: 0;
    padding: 0; 
}

/* layout */

body {
    margin: auto;
    max-width: 800px;
    min-height: 100vh;
    padding-right: 350px;

    display: flex;
    flex-flow: row wrap;
}

header {
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    border-bottom: 1px solid var(--black);
    width: 100%;
}

header img {
    max-width: 8rem;
}

nav {
    width: 150px;
}

nav * {
    margin: 0;
}

nav li {
    padding: 0 0 1.5rem 1rem;
}

main {
    width: 600px;
}

main section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

article {
    max-width: 450px;
}

main article:first-of-type {
    position:fixed;
    background-image: linear-gradient(default, whitesmoke, rgba(99,99,99, 0.0));
    z-index: 100;
}

article p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

p.dinkus {
    text-align: center;
}

article p:last-child {
    margin-bottom: 0;
}

figure * {
    max-width: 100%;
}

footer {
    margin: auto;
    padding-left: 200px; /* corrects body offset */
}

footer p:first-child {
    border-top: 1px solid black;
    padding: 2rem 4rem;
}

/* responsive layout */

@media screen and (max-width: 1400px) {
    body {
        padding: 0;
    }
}

@media screen and (max-width: max(100vh, 800px)) {
    :root {
        font-size: 24px;
    }
    body, main, footer {
        width: 100%;
        max-width: min(1366px, 98vw);
        padding: 0;
        justify-content: center;
    }
    header {
        text-align: center;
        padding: 1rem 0;
    }
    header, nav {
        min-width: 100%;
    }
    nav li::before {
        content: '▸ ';
        -webkit-text-stroke-width: 1px;
    }
    nav li.blue::before {
        color: var(--blue);
        -webkit-text-stroke-color: var(--blue);
    }
    nav li.forest::before {
        color: var(--forest);
        -webkit-text-stroke-color: var(--forest);
    }
    nav li.gold::before {
        color: var(--gold);
        -webkit-text-stroke-color: #e1d980;
    }
    nav li.pink::before {
        color: var(--pink);
        -webkit-text-stroke-color: var(--pink);
    }
    nav li.purple::before {
        color: var(--purple);
        -webkit-text-stroke-color: var(--purple);
    }
    main section {
        border-top: 1px solid var(--black);
        margin-top: -1px;
    }
    main section h2 {
        border-bottom: 1px dotted var(--black);
    }
    main section > * {
        padding: 1rem; max-width: calc(100% - 2rem);
    }
    section > * {
        width: 800px;
        margin: auto;
    }
    footer {
        text-align: center;
    }
}

/* styling & decoration */

h2, h3 {
    font-size: inherit;
}

h3 {
    padding-top: 0.5ex; /* alignment fix */
}

nav ul {
    list-style: none;
}

li::before, h2::before {
    content: '🞰 ';
}

nav a {
    text-decoration: none;
}

/* ornament, animation */

@keyframes navanim {
    0% {text-decoration-thickness: 1px;}
    100% {text-decoration-thickness: 4px;}
}

nav a:hover {
    text-decoration: underline;
    animation: navanim 0.2s;
    animation-fill-mode: forwards;
}

nav li.blue a:hover {
    text-decoration-color: var(--blue);
}
nav li.forest a:hover {
    text-decoration-color: var(--forest);
}
nav li.gold a:hover {
    text-decoration-color: var(--gold);
}
nav li.pink a:hover {
    text-decoration-color: var(--pink);
}
nav li.purple a:hover {
    text-decoration-color: var(--purple);
}

::selection, figure img:hover {
    color: var(--white);
    opacity: 0.5;
    background-color: #aaa;
}
